<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Items</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Events</h1>

        <ul>
            <li th:each="event : ${events}">
                <span th:text="${event.name}">item</span> (<span th:text="${event.date}">999</span>)
                <form th:action="@{/form}" th:method="GET">
                    <input type="submit" value="Signup"/>
                </form>
            </li>
        </ul>

    </body>
</html>
